<h1 class="fs-1 ms-5 pt-4 pl-4 pb-3">Ask the Coach a Question</h1>

<div class="d-flex container ms-5">
  <form action="/answer" data-turbo="false" method="get" class="form-control">
    <input type="text" name="question" class="w-50">
    <input type="submit" value="Ask!" class="fw-bold btn btn-primary">
  </form>
</div>
